extends layout

block scripts
  script(src='/js/jquery-1.8.3.min.js')
  script(src='/js/jquery.cookie.js')
  script(src='/bootstrap/js/bootstrap.js')
  script(src='/datepicker/js/bootstrap-datepicker.js')
  script(src="/js/sleeping.js")

block content
  
  div.row-fluid
    div.span2
    div.span8
      h1 While You Were Sleeping...
      h2 Here is what we manged to find
      h1 #{message}
      // iterate over |results|
      each album, i in results
        div.span9(class="well")
          div.span4
            img(src="#{album.icon}")
          div.span8
            div.pct120
              a(href="/sleeping_results.html?artists=#{encodeURIComponent(album.artist)}&millis=2592000000") #{album.artist}
            div "#{album.name}"
            div 
              span.pct80 Released: 
              span #{album.released}
            div 
              span.pct80 Discovered: 
              span #{album.discovered}
            div 
              span.pct80 Similar to: 
                each artist, j in album.similarToArtists
                  span
                    a(href="/sleeping_results.html?artists=#{encodeURIComponent(artist)}&millis=2592000000") #{artist}
                  span , 